.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.paragraph {
  width: 70vw;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}